body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
  }

  h1 {
    text-align: center;
    color: #333;
  }
  .radio-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .radio-container label {
    margin: 0 10px;
    display: inline-block;
    width: 40px; /* Ancho fijo para los botones */
    height: 40px; /* Alto fijo para los botones */
    border-radius: 50%;
    border: 2px solid #ccc;
    text-align: center;
    line-height: 40px; /* Centrar el contenido verticalmente */
    cursor: pointer;
    font-size: 12px; /* Tamaño de la fuente */
  }

  .radio-container input[type="radio"] {
    display: none;
  }

  .radio-container input[type="radio"]:checked + label {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
  }
  form {
    max-width: 500px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  label {
    display: block;
    margin-bottom: 6px;
    color: #333;
  }

  input[type="text"],
  select {
    width: calc(100% - 12px);
    padding: 8px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }

  input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type="submit"]:hover {
    background-color: #0056b3;
  }