header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.alert {
    background: none;
    border: 1px solid #fff;
    color: #fff;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 16px;
}

.bottonañadir{
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.divpersonal{
  width: 60%;
  border: 3px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.nombrecito{
margin-left: 90px;
font-size: 24px;
font-family:Impact, 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
color: red;
}

.sujeto-imagen {
  width: 80px;
  height: auto; 
  margin: 5px;
}

.divgrande{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

/*Estilos cambiantes*/

.Cargado{
  border: 3px solid rgb(55, 192, 55);
}
.Vivo{
  border: 3px solid rgb(201, 13, 13);
}

.Delincuente{
  color: rgb(201, 13, 13);
}

.Cooperador{
  color: rgb(201, 182, 13);
}

.Posible_cooperador{
  color: rgb(9, 163, 17);
}


  /* Estilos para la imagen a pantalla completa */
  .fullscreen {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 9999;
  }
  .imggrande {
    display: block;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
  }